.img {
    width: 20%;
    height: 10%;
}

.active {
    color: #fd85c7c5 !important;
    font-family: "Century Gothic";
}

.nav-link{
    color: #fd85c7c5 !important;
    font-family: "Century Gothic";
}

.nav-item{
    margin-right: 35px;
}

.homeImage{
    width: 100%;
    
}
.text-center{
    margin-top: 100px;
}

.contact-box {
    margin: 10px;
    padding-bottom: 10px;
    background-color: #fd85c7c5;
    font-family: Century Gothic;
    width: 500px;
    background-color: aliceblue;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: #fd85c7c5;
    font-family: Century Gothic;
    color: #fd85c7c5;
 
    background-color: white;
    

}

.img {
    width: 20%;
    height: 10%;
}


.form-area{
    width: 500px;
}

.form-center{
    display: flex;
    justify-content: center;
}